In [2]:
school = "Chungkang University"
for ch in school:
  if ch.islower():
    print(ch, end="")

hungkangniversity

In [3]:
def gugudan(dan):
  for num in [1, 2, 3, 4, 5, 6, 7, 8, 9]:
    print(dan, "x", num, "=", dan * num)

gugudan(9)

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [4]:
def sumRange(num):
  total = 0
  for n in range(1, num + 1):
    total = total + n
  return total

sumRange(10)

55

In [7]:
def print_table(n):
  numbers = list(range(1, n + 1))

  # Header row
  for i in range(1, n + 1):
    print("\t" + str(i), end="")
  
  print()
  
  # Each row
  for i in numbers:
    print(i, end="")
    for j in numbers:
      print("\t" + str(i * j), end="")
    print()

print_table(6)

	1	2	3	4	5	6
1	1	2	3	4	5	6
2	2	4	6	8	10	12
3	3	6	9	12	15	18
4	4	8	12	16	20	24
5	5	10	15	20	25	30
6	6	12	18	24	30	36

In [9]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for n in numbers[::2]:
  print(numbers[n])

2
4
6
8
10